body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f0f2f5;
  width: 340px;
}

.header {
  background-color: #128c7e;
  color: white;
  padding: 14px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.card {
  background: white;
  padding: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ddd;
  outline: none;
}

.input:focus {
  border-color: #25d366;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #25d366;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.link {
  color: #25d366;
  font-weight: bold;
  cursor: pointer;
}